<font color = 'red'>

<h1> Desafio Naves Espaciales </h1>

<a id = "1"></a>
## Introducción


<p style="text-align: justify;"> Una de las naves de uno de tus aliados está en peligro mortal en una zona roja de OASIS. Una bomba ha sido implantada en los motores de la nave, tu aliado podría desbloquearla con tu ayuda para resolver estos problemas. La bomba sólo se desactiva con tu solución a este desafío. </p>

<a id = "2"></a>
## 1. 
+ If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
<br>

<font color = 'red'>
Find the sum of all the multiples of 3 or 5 below 1000.

In [8]:
suma = 0 # Se crea la variable donde se guardaran los números que sean múltiplos de 3 o 5.
for it in range(1000): # Iterador que va de 0 a 999 
    if (it % 3 == 0 or it % 5 == 0):  # Condición que sólo admite los valores que sean múltiplos de 3 o 5
        suma = suma + it  # Se agregan los valores que sean múltiplos a la variable suma


print('The sum of all the multiples of 3 or 5 below 1000 is =', suma)

The sum of all the multiples of 3 or 5 below 1000 is = 233168

---
<a id = "6"></a>
## 2. 

You are given the following information, but you may prefer to do some research 
for yourself.

+ 1 Jan 1900 was a Monday.
+ Thirty days has September,
+ April, June and November.
+ All the rest have thirty-one,
+ Saving February alone,
+ Which has twenty-eight, rain or shine.
+ And on leap years, twenty-nine.
+ A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.

<br>
<font color = 'red'>   
How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)

In [16]:
import pandas as pd #Para este ejercicio se ocupara la librería de Pandas y sus funciones en cuanto a fechas y tiempo.

inicio = "1901-1-1" # Fecha de inicio del siglo 20
fin    = "2000-12-31" # Fecha de fin de siglo 20


lista_fechas = pd.Series(pd.date_range(start = inicio, end = fin , freq="d")) # pd.Series da formato de una serie de datos 
# pd.data_range crea una serie de datos en formato datetime desde una fecha de inicio hasta una fecha final que
# debe ser colocada por el usuario. freq="d" hace referencia a que nos interesa saber las fechas que hay desde el 
# inicio al final día por día. Esta frecuencia puede ser cambiada dependiendo el rango de interes del usuario.

#lista_fechas = pd.DataFrame(pd.Series(pd.date_range(start = inicio, end = fin , freq="d")))
#lista_fechas.columns = ['date']

In [17]:
primero = lista_fechas[(lista_fechas.dt.day_name() == "Sunday") & (lista_fechas.dt.day == 1)] # En esta línea
# de código se obtienen las fechas que coincidan con la condición de que el día sea domingo y corresponda al 
# primer día del mes. El comando "dt" nos permite acceder a el día, mes o año de una variable en formato datetime.

print("There are",primero.shape[0], "Sundays that fell on the first of the month during the twentieth century")

There are 171 Sundays that fell on the first of the month during the twentieth century

In [19]:
leap = lista_fechas[(lista_fechas.dt.month == 2) & (lista_fechas.dt.day == 29)]

print("There were",leap.shape[0], "leap years during the twentieth century")

There were 25 leap years during the twentieth century